<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- include upstream top-level iiwa7 definition (adds world, base joint, and instantiates iiwa) -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa7/iiwa7.xacro" />
    
    <!-- including an apple model at end of arm -->
    <xacro:include filename="$(find sinthlab_lbr_description)/urdf/models/apple.xacro"/>
    <joint name="apple_fixed_joint" type="fixed">
        <parent link="$(arg robot_name)_link_ee"/>
        <child link="apple_link"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>
</robot>
